body{
  margin: 0;
  background: #757F9A;  
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  
  background: linear-gradient(to right, #D7DDE8, #757F9A); 
}

.shopping {
  background-image: url('./img/background-shopping.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid sandybrown;
}

.shopping__products {
  max-height: 500px;
  overflow: auto;
}